@import "general";

body {
  background-color: $main-color1;
}

.list {
  margin: 20px auto;
  max-width: 800px;
  border: 2px solid $border-color;
  border-radius: 5px;
  background-color: $main-color2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $border-color;
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.89);
  }

  #taskInput {
    width: 250px;
    background-color: $text-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 1rem;
    padding: 2px;
  }

  button {
    margin: 5px;
    font-size: 0.9rem;
    width: 250px;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $main-color1;
    color: $text-color;
    padding: 2px;
  }

  li {
    list-style: none;
    font-size: 1.5rem;
    margin: 10px;
    padding: 3px;

    button {
      width: 120px;

    }
  }

  .done {
    color: #D94A56;
  }
}